# Лабораторная работа 1. Введение в машинное обучение. Обучение с учителем. Задача регрессии

### Преобразование датасета

In [2]:
import pandas as pd

data = pd.read_csv("../data/regression/trip_duration_task.csv").drop_duplicates()
data

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,id1080784,2.0,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,400
1,id0889885,1.0,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,1100
2,id0857912,2.0,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,1635
3,id3744273,2.0,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,1141
4,id0232939,1.0,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,848
...,...,...,...,...,...,...,...,...,...,...
729317,id3905982,2.0,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,296
729318,id0102861,1.0,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,315
729319,id0439699,1.0,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,673
729320,id2078912,1.0,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,447
729321,id1053441,2.0,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,1224

In [ ]:
from matplotlib import pyplot as plt

fig, axes = plt.subplots(nrows=3, ncols=3, figsize=(15, 10))
for idx, feature in enumerate(data.columns[:-1]):
    data.plot(feature, "trip_duration", subplots=True, kind="scatter", ax=axes[idx // 3, idx % 3])

In [2]:
data.drop(["id"], axis=1)
data = data.head(1500)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 0 to 1499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1500 non-null   object
 1   vendor_id          1492 non-null   float64
 2   pickup_datetime    1500 non-null   object
 3   dropoff_datetime   1500 non-null   object
 4   passenger_count    1500 non-null   int64
 5   pickup_longitude   1500 non-null   float64
 6   pickup_latitude    1497 non-null   float64
 7   dropoff_longitude  1500 non-null   float64
 8   dropoff_latitude   1500 non-null   float64
 9   trip_duration      1500 non-null   int64
dtypes: float64(5), int64(2), object(3)
memory usage: 128.9+ KB

### Заполнение пустых строк

In [3]:
for column in list(data):
  if data[column].dtype == 'float64':
    valuesNotNAN = data[column].dropna()
    data[column] = data[column].fillna(round(sum(valuesNotNAN)/len(valuesNotNAN)))

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 0 to 1499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1500 non-null   object
 1   vendor_id          1500 non-null   float64
 2   pickup_datetime    1500 non-null   object
 3   dropoff_datetime   1500 non-null   object
 4   passenger_count    1500 non-null   int64
 5   pickup_longitude   1500 non-null   float64
 6   pickup_latitude    1500 non-null   float64
 7   dropoff_longitude  1500 non-null   float64
 8   dropoff_latitude   1500 non-null   float64
 9   trip_duration      1500 non-null   int64
dtypes: float64(5), int64(2), object(3)
memory usage: 128.9+ KB

C:\Users\schir\AppData\Local\Temp\ipykernel_8044\3047176938.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].fillna(round(sum(valuesNotNAN)/len(valuesNotNAN)))

### Перевод категориальных признаков в числовой тип данных

In [4]:
import category_encoders as ce

columns = [column for column in list(data) if data[column].dtype == 'object']
encoder=ce.OneHotEncoder(cols=columns,handle_unknown='return_nan',return_df=True,use_cat_names=True)

data_encoded = encoder.fit_transform(data)
data_encoded.to_csv("../data/regression/trip_duration_update.csv")
display(data_encoded)

,id_id1080784,id_id0889885,id_id0857912,id_id3744273,id_id0232939,id_id1918069,id_id2429028,id_id1663798,id_id2436943,id_id2933909,...,dropoff_datetime_2016-04-15 15:21:20,dropoff_datetime_2016-02-18 11:38:43,dropoff_datetime_2016-05-13 08:14:27,dropoff_datetime_2016-01-30 10:16:02,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,-73.953918,40.778873,-73.963875,40.771164,400
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,-73.988312,40.731743,-73.994751,40.694931,1100
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,-73.997314,40.721458,-73.948029,40.774918,1635
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6,-73.961670,40.759720,-73.956779,40.780628,1141
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,-74.017120,40.708469,-73.988182,40.740631,848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,-73.873161,40.774174,-73.992004,40.726036,2327
1496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1,-73.953667,40.778629,-73.951881,40.768620,398
1497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1,-73.964066,40.765232,-73.959404,40.771381,347
1498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1,-73.953529,40.767311,-73.980881,40.746082,1153
1499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1,-73.979164,40.784691,-73.975464,40.795300,290

### Выделение целевого признака и предикторов

In [5]:
df = pd.read_csv("../data/regression/trip_duration_update.csv")

y = df["trip_duration"]
X = df.drop(['trip_duration'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Columns: 4508 entries, Unnamed: 0 to trip_duration
dtypes: float64(4505), int64(3)
memory usage: 51.6 MB

In [6]:
y

0        400
1       1100
2       1635
3       1141
4        848
        ...
1495    2327
1496     398
1497     347
1498    1153
1499     290
Name: trip_duration, Length: 1500, dtype: int64

In [7]:
X

,Unnamed: 0,id_id1080784,id_id0889885,id_id0857912,id_id3744273,id_id0232939,id_id1918069,id_id2429028,id_id1663798,id_id2436943,...,dropoff_datetime_2016-06-04 17:50:23,dropoff_datetime_2016-04-15 15:21:20,dropoff_datetime_2016-02-18 11:38:43,dropoff_datetime_2016-05-13 08:14:27,dropoff_datetime_2016-01-30 10:16:02,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,-73.953918,40.778873,-73.963875,40.771164
1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2,-73.988312,40.731743,-73.994751,40.694931
2,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2,-73.997314,40.721458,-73.948029,40.774918
3,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6,-73.961670,40.759720,-73.956779,40.780628
4,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,-74.017120,40.708469,-73.988182,40.740631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,2,-73.873161,40.774174,-73.992004,40.726036
1496,1496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1,-73.953667,40.778629,-73.951881,40.768620
1497,1497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1,-73.964066,40.765232,-73.959404,40.771381
1498,1498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1,-73.953529,40.767311,-73.980881,40.746082
1499,1499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1,-73.979164,40.784691,-73.975464,40.795300

### Разделение данных на обучающую и тестовую выборки

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1200, 4507), (1200,), (300, 4507), (300,))

## Линейная регрессия

In [10]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

lr = LinearRegression().fit(X_train, y_train)

lr.predict(X_test)

array([ 921.15316842,  845.28467958,  642.91794385, 1291.93831176,
        798.60156122,  635.20870807, 1473.07377894,  695.94852656,
       1183.27465024, 1247.00066126,  749.71406362, 1210.33507825,
       1109.71504728, 1004.93877626,  835.32499465,  764.66317388,
        574.23032422,  662.93984903,  847.83158612, 1169.22315577,
        690.16487234,  879.25699322,  747.7073707 ,  887.38368899,
        707.17762281, 1143.41645744,  794.05161243, 1079.06450411,
        914.47939497,  991.71657556,  868.53321163, 1021.73379476,
       1206.99979522,  940.6220522 ,  892.56602304, 1044.82042665,
       1475.31678099,  946.12193178,  809.93628867, 1373.37792417,
        954.50790929, 1858.04259949, 1836.10204254,  970.77359159,
       1041.21256457,  859.77488746, 1167.56663732,  714.80720935,
       1178.20634864, 1040.62659544,  979.14376287, 1068.66052134,
        582.98123053,  717.277585  ,  713.95681919,  580.98012928,
       1075.77347243, 1051.73784309,  547.85193791,  890.48699788,
        708.71880079, 1122.13732171,  920.68770268,  847.95266026,
       1204.24443009,  888.08036062,  813.87159593, 1049.6071878 ,
       1465.77851429, 1230.00206354, 1085.29206375,  770.96570712,
        768.53716596, 1124.97720847,  996.50992481,  747.12004929,
        884.08110944,  915.72750863,  735.23686679,  770.24313936,
        940.16578362,  871.26212871, 1028.49179149,  995.83154626,
        872.6519038 , 1382.29530176, 1151.25724466, 1369.49052262,
       1417.09176269,  612.32801165,  746.10796211,  766.62879102,
        890.64115704, 1126.41369637, 1085.43367832,  773.79505231,
        774.77175522,  634.05907951,  741.16079466, 1025.20776034,
        659.64263065,  951.80008548, 1117.08805051, 1238.28487635,
       1115.47838433, 1530.84893341,  930.57774315, 1009.95194085,
        752.50033489,  612.87383097,  793.77775024,  866.65426904,
       1054.66520998,  828.80198572, 1122.44382823,  905.05256364,
        860.00558481,  879.87046354,  793.37957701,  757.4209367 ,
        818.1477337 , 1084.30784462,  833.5092791 , 1138.25826495,
        749.41400738, 1033.23626355, 1064.1496872 ,  890.26611542,
       1195.49786103, 1403.69283085, 1065.3526641 , 1052.84478381,
        869.33030612, 1056.00376222, 1207.17049115,  950.90934636,
        952.23073039, 1008.77046551,  949.44962696,  966.69799594,
        670.26190888, 1798.1917091 , 1066.39478221,  704.2676204 ,
        825.14485477, 1004.32996323,  829.47346505,  728.70568672,
        833.95952173, 1023.32249169,  598.98659855, 1107.46361719,
       1038.77909624,  693.55030187,  730.30482979,  657.68951792,
        898.98796842, 1147.16611777,  877.96434363,  953.22817645,
        916.69170017,  848.40324588, 1271.84617483,  822.65772672,
       1187.25737116, 1500.18691278, 1190.44766227,  868.36419109,
        750.01116813, 1303.98923175, 1100.98228759,  813.45837326,
        726.39195063,  948.43182645, 1481.17956107,  958.14159886,
        987.50025331, 1091.56472905,  633.00255747,  716.73804007,
        788.66803516,  696.68684148, 1008.56689885, 1107.8074355 ,
       1089.01031525,  544.76483621,  947.75041163,  936.42232489,
        851.41699506,  928.15744797, 1053.8498313 ,  938.60089351,
       1033.19232365, 1321.55248871, 1212.42562481,  845.45229652,
        387.73102911, 1080.44931448,  668.73413273, 1154.07666183,
       1030.4353784 , 1078.73870904,  713.9565594 , 1060.16537452,
        979.28293142,  665.18869735,  750.11364277,  752.80229656,
        928.66506961,  763.33840842,  992.00724526, 1030.40481108,
        998.00923916,  669.85707433,  779.7775589 ,  882.17462632,
       1086.61023144,  949.76409668,  999.01465217, 1208.39759624,
       1269.0567898 , 1214.87971736, 1106.68018435, 1137.24273399,
       1032.32676869, 1217.19414872,  693.28485548,  879.88089942,
        819.58565033, 1075.92192683,  925.71199322,  928.347355  ,
        555.22783676,  699.75403893, 1007.25200846, 1009.68375259,
        684.83278336,  720.77142985, 1104.57432012,  917.982652  ,
       1604.71759301, 1193.87917088,  979.91231487,  669.12595934,
       1021.96722937,  579.68328721,  953.45069679, 1136.36571444,
        856.7140043 , 1063.74528809,  926.66797617, 1110.22107934,
       1246.73612658,  719.16616406, 1050.6186008 ,  785.25890276,
       2354.5147965 ,  753.70146625,  854.17775693,  967.88389529,
        974.809537  ,  825.3956196 ,  882.58089001,  673.17159617,
       1051.67418343, 1299.62538269,  736.28704133,  896.0906289 ,
        999.94343987, 1163.38984933,  803.0919996 , 1123.87852154,
        845.82479368, 1103.27389874,  811.80189991,  750.81242336,
        746.0090458 ,  640.10554505, 1085.56342392,  816.66145032,
        826.90916901, 1065.37019082,  706.68494175,  893.31044273,
        958.46861683, 1194.00242258,  555.68439123,  842.37649042,
        708.11457937,  775.54445676,  783.19961618, 1029.86681011,
       1228.48367368, 1044.66788218,  982.91135843, 1195.91117158,
        749.30027531,  761.92025376,  922.21924437, 1133.32467458])

# Метрики качества

In [11]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt

y_pred = lr.predict(X_test)

print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lr.score(X_test, y_test)}')

MAE: 512.120958215506
MSE: 520554.72223803797
RMSE: 721.4947832368838
MAPE: 1.3200570132526668
R^2: 0.0737187061474519

In [12]:
len(lr.coef_)
lr.coef_

array([-1.69487690e-01, -2.52809168e+02,  3.49981139e+01, ...,
       -1.29243388e+03,  3.30095661e+03, -1.73052449e+03])

# Регуляризация в линейной регрессии (L1 Ridge)

In [13]:
# L1
ridge = Ridge(alpha=0.1).fit(X_train, y_train)
y_pred = ridge.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {ridge.score(X_test, y_test)}')
ridge.coef_

MAE: 512.5895987869719
MSE: 521600.6248373011
RMSE: 722.2192359922997
MAPE: 1.319177677000933
R^2: 0.07185761456283624

array([-1.69582615e-01, -2.44800579e+02,  3.42009000e+01, ...,
       -1.26663282e+03,  3.22285003e+03, -1.69107151e+03])

# Регуляризация в линейной регрессии (L2 Lasso)

In [17]:
# L2
lasso = Lasso(alpha=0.9).fit(X_train, y_train)
y_pred = lasso.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lasso.score(X_test, y_test)}')
lasso.coef_

MAE: 440.71430912498073
MSE: 438065.8870414064
RMSE: 661.8654599247542
MAPE: 1.1999573252993212
R^2: 0.22050032531291186

array([ 1.56690149e-02, -0.00000000e+00,  0.00000000e+00, ...,
       -4.07245982e+02,  2.10333701e+03, -3.17550901e+03])

# Полиномиальная регрессия

In [15]:
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(2)  

X_test_p=pf.fit_transform(X_test) 
X_train_p = pf.fit_transform(X_train)

MemoryError: Unable to allocate 22.7 GiB for an array with shape (300, 10163286) and data type float64

In [ ]:
lr2 = LinearRegression().fit(X_train, y_train)
lr2.coef_

# Метрики качества

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt

y_pred = lr.predict(X_test_p)

print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lr.score(X_test_p, y_test)}')